body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:890px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:890px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:437px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:694px;
}
#u2089 {
  position:absolute;
  left:34px;
  top:171px;
  width:246px;
  height:694px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:339px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:100px;
  top:580px;
  width:150px;
  height:214px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:99px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:116px;
  top:587px;
  width:85px;
  height:20px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2095 {
  position:absolute;
  left:116px;
  top:622px;
  width:85px;
  height:20px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  position:absolute;
  left:116px;
  top:657px;
  width:85px;
  height:20px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:54px;
}
#u2099 {
  position:absolute;
  left:34px;
  top:690px;
  width:245px;
  height:54px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:19px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2101 {
  position:absolute;
  left:0px;
  top:754px;
  width:300px;
  height:126px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:55px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:475px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:780px;
  width:1300px;
  height:475px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:230px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:521px;
}
#u2105 {
  position:absolute;
  left:290px;
  top:160px;
  width:1005px;
  height:521px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:252px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2107 {
  position:absolute;
  left:300px;
  top:681px;
  width:976px;
  height:73px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:28px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109 {
  position:absolute;
  left:34px;
  top:580px;
  width:245px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2110 {
  position:absolute;
  left:34px;
  top:616px;
  width:245px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2111 {
  position:absolute;
  left:34px;
  top:652px;
  width:245px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2112 {
  position:absolute;
  left:700px;
  top:240px;
  width:75px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2113 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(34, 136, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2114 {
  position:absolute;
  left:367px;
  top:177px;
  width:39px;
  height:23px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2116 {
  position:absolute;
  left:371px;
  top:178px;
  width:27px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2118 {
  position:absolute;
  left:310px;
  top:247px;
  width:39px;
  height:23px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2120 {
  position:absolute;
  left:320px;
  top:249px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:350px;
  top:350px;
  width:150px;
  height:190px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:386px;
  top:373px;
  width:80px;
  height:80px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u2127 {
  position:absolute;
  left:391px;
  top:379px;
  width:70px;
  height:69px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2129 {
  position:absolute;
  left:394px;
  top:467px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2131 {
  position:absolute;
  left:348px;
  top:347px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2132 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2133 {
  position:absolute;
  left:388px;
  top:493px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2135 {
  position:absolute;
  left:354px;
  top:519px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:538px;
  top:350px;
  width:150px;
  height:190px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:574px;
  top:373px;
  width:80px;
  height:80px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u2142 {
  position:absolute;
  left:579px;
  top:379px;
  width:70px;
  height:69px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2144 {
  position:absolute;
  left:582px;
  top:467px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2146 {
  position:absolute;
  left:536px;
  top:347px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2147 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2148 {
  position:absolute;
  left:576px;
  top:493px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2150 {
  position:absolute;
  left:542px;
  top:519px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2153 {
  position:absolute;
  left:725px;
  top:350px;
  width:150px;
  height:190px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  position:absolute;
  left:761px;
  top:373px;
  width:80px;
  height:80px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u2157 {
  position:absolute;
  left:766px;
  top:379px;
  width:70px;
  height:69px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2159 {
  position:absolute;
  left:769px;
  top:467px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2161 {
  position:absolute;
  left:723px;
  top:347px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2162 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2163 {
  position:absolute;
  left:763px;
  top:493px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2165 {
  position:absolute;
  left:729px;
  top:519px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  position:absolute;
  left:912px;
  top:352px;
  width:150px;
  height:190px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  position:absolute;
  left:948px;
  top:375px;
  width:80px;
  height:80px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u2172 {
  position:absolute;
  left:953px;
  top:381px;
  width:70px;
  height:69px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2174 {
  position:absolute;
  left:956px;
  top:469px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:910px;
  top:349px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2178 {
  position:absolute;
  left:950px;
  top:495px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2180 {
  position:absolute;
  left:916px;
  top:521px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  position:absolute;
  left:1099px;
  top:351px;
  width:150px;
  height:190px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:1135px;
  top:374px;
  width:80px;
  height:80px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u2187 {
  position:absolute;
  left:1140px;
  top:380px;
  width:70px;
  height:69px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2189 {
  position:absolute;
  left:1143px;
  top:468px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2191 {
  position:absolute;
  left:1097px;
  top:348px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2192 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2193 {
  position:absolute;
  left:1137px;
  top:494px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2195 {
  position:absolute;
  left:1103px;
  top:520px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2197 {
  position:absolute;
  left:348px;
  top:346px;
  width:158px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2198 {
  position:absolute;
  left:536px;
  top:347px;
  width:158px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2199 {
  position:absolute;
  left:723px;
  top:346px;
  width:158px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2200 {
  position:absolute;
  left:910px;
  top:348px;
  width:158px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2201 {
  position:absolute;
  left:1097px;
  top:348px;
  width:158px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:28px;
}
#u2203 {
  position:absolute;
  left:129px;
  top:0px;
  width:112px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:28px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u2205 {
  position:absolute;
  left:680px;
  top:0px;
}
#u2205_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:14px;
  width:600px;
  word-wrap:break-word;
}
#u2212 {
  position:absolute;
  left:249px;
  top:0px;
  width:83px;
  height:50px;
  overflow:hidden;
}
#u2212_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2212_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u2212_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2212_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:228px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2217 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2217_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2217.mouseOver {
}
#u2218 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2219 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2219_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2219.mouseOver {
}
#u2220 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2221 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2221_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2221.mouseOver {
}
#u2222 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2223 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2223_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2223.mouseOver {
}
#u2224 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:180px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2225_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u2225.mouseOver {
}
#u2226 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F04844;
  line-height:22px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#F04844;
  line-height:22px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u2229 {
  position:absolute;
  left:336px;
  top:10px;
  width:56px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u2231 {
  position:absolute;
  left:80px;
  top:4px;
  width:41px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u2232 {
  position:absolute;
  left:20px;
  top:11px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  line-height:20px;
}
#u2233 {
  position:absolute;
  left:85px;
  top:13px;
  width:51px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  line-height:20px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:100px;
  color:#FFFFFF;
}
#u2235 {
  position:absolute;
  left:30px;
  top:50px;
  width:1200px;
  height:93px;
  font-size:100px;
  color:#FFFFFF;
}
#u2236 {
  position:absolute;
  left:0px;
  top:28px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237 {
  position:absolute;
  left:31px;
  top:51px;
  width:1249px;
  height:99px;
  overflow:hidden;
}
#u2237_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:99px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我收藏的专利/u2015_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1398px 121px;
}
#u2237_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u2238 {
  position:absolute;
  left:80px;
  top:68px;
  width:474px;
  height:58px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u2239 {
  position:absolute;
  left:0px;
  top:15px;
  width:474px;
  word-wrap:break-word;
}
