body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:890px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:890px;
}
#u3876 {
  position:absolute;
  left:2px;
  top:437px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:694px;
}
#u3877 {
  position:absolute;
  left:34px;
  top:171px;
  width:246px;
  height:694px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:339px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3879 {
  position:absolute;
  left:100px;
  top:580px;
  width:150px;
  height:214px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:99px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3881 {
  position:absolute;
  left:116px;
  top:587px;
  width:85px;
  height:20px;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3883 {
  position:absolute;
  left:116px;
  top:622px;
  width:85px;
  height:20px;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3885 {
  position:absolute;
  left:116px;
  top:657px;
  width:85px;
  height:20px;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:54px;
}
#u3887 {
  position:absolute;
  left:34px;
  top:690px;
  width:245px;
  height:54px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:19px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3889 {
  position:absolute;
  left:0px;
  top:754px;
  width:300px;
  height:126px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:55px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:475px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:780px;
  width:1300px;
  height:475px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:230px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:521px;
}
#u3893 {
  position:absolute;
  left:290px;
  top:160px;
  width:1005px;
  height:521px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:252px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3895 {
  position:absolute;
  left:300px;
  top:681px;
  width:976px;
  height:73px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:28px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897 {
  position:absolute;
  left:34px;
  top:580px;
  width:245px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3898 {
  position:absolute;
  left:34px;
  top:616px;
  width:245px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3899 {
  position:absolute;
  left:34px;
  top:652px;
  width:245px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3900 {
  position:absolute;
  left:700px;
  top:240px;
  width:75px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3901 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(34, 136, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:367px;
  top:177px;
  width:39px;
  height:23px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3904 {
  position:absolute;
  left:371px;
  top:178px;
  width:27px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3906 {
  position:absolute;
  left:350px;
  top:350px;
  width:150px;
  height:190px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3909 {
  position:absolute;
  left:386px;
  top:373px;
  width:80px;
  height:80px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u3911 {
  position:absolute;
  left:391px;
  top:379px;
  width:70px;
  height:69px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3913 {
  position:absolute;
  left:394px;
  top:467px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3915 {
  position:absolute;
  left:348px;
  top:347px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3916 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3917 {
  position:absolute;
  left:388px;
  top:493px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3919 {
  position:absolute;
  left:354px;
  top:519px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3920 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3922 {
  position:absolute;
  left:538px;
  top:350px;
  width:150px;
  height:190px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  position:absolute;
  left:574px;
  top:373px;
  width:80px;
  height:80px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u3926 {
  position:absolute;
  left:579px;
  top:379px;
  width:70px;
  height:69px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3928 {
  position:absolute;
  left:582px;
  top:467px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3930 {
  position:absolute;
  left:536px;
  top:347px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3931 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3932 {
  position:absolute;
  left:576px;
  top:493px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3934 {
  position:absolute;
  left:542px;
  top:519px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3937 {
  position:absolute;
  left:725px;
  top:350px;
  width:150px;
  height:190px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3939 {
  position:absolute;
  left:761px;
  top:373px;
  width:80px;
  height:80px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u3941 {
  position:absolute;
  left:766px;
  top:379px;
  width:70px;
  height:69px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3943 {
  position:absolute;
  left:769px;
  top:467px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3945 {
  position:absolute;
  left:723px;
  top:347px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3946 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3947 {
  position:absolute;
  left:763px;
  top:493px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3949 {
  position:absolute;
  left:729px;
  top:519px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3952 {
  position:absolute;
  left:912px;
  top:352px;
  width:150px;
  height:190px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3954 {
  position:absolute;
  left:948px;
  top:375px;
  width:80px;
  height:80px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u3956 {
  position:absolute;
  left:953px;
  top:381px;
  width:70px;
  height:69px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3958 {
  position:absolute;
  left:956px;
  top:469px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3960 {
  position:absolute;
  left:910px;
  top:349px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3961 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3962 {
  position:absolute;
  left:950px;
  top:495px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3964 {
  position:absolute;
  left:916px;
  top:521px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:1099px;
  top:351px;
  width:150px;
  height:190px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:1135px;
  top:374px;
  width:80px;
  height:80px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:69px;
}
#u3971 {
  position:absolute;
  left:1140px;
  top:380px;
  width:70px;
  height:69px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3973 {
  position:absolute;
  left:1143px;
  top:468px;
  width:66px;
  height:16px;
  font-size:11px;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 133, 92, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3975 {
  position:absolute;
  left:1097px;
  top:348px;
  width:69px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3976 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3977 {
  position:absolute;
  left:1137px;
  top:494px;
  width:76px;
  height:16px;
  font-size:11px;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3979 {
  position:absolute;
  left:1103px;
  top:520px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FC855C;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3981 {
  position:absolute;
  left:320px;
  top:339px;
  width:940px;
  height:342px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:163px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:221px;
}
#u3983 {
  position:absolute;
  left:314px;
  top:348px;
  width:946px;
  height:221px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:102px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u3985 {
  position:absolute;
  left:387px;
  top:244px;
  width:64px;
  height:34px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:28px;
}
#u3988 {
  position:absolute;
  left:126px;
  top:0px;
  width:112px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:28px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u3990 {
  position:absolute;
  left:677px;
  top:0px;
}
#u3990_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3990_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u3992 {
  position:absolute;
  left:0px;
  top:14px;
  width:600px;
  word-wrap:break-word;
}
#u3997 {
  position:absolute;
  left:249px;
  top:0px;
  width:83px;
  height:50px;
  overflow:hidden;
}
#u3997_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3997_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u3999 {
  position:absolute;
  left:0px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u3997_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3997_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:228px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4002_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4002.mouseOver {
}
#u4003 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4004 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4004_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4004.mouseOver {
}
#u4005 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4006_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4006.mouseOver {
}
#u4007 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4008_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4008.mouseOver {
}
#u4009 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:180px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4010_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u4010.mouseOver {
}
#u4011 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F04844;
  line-height:22px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#F04844;
  line-height:22px;
}
#u4013 {
  position:absolute;
  left:0px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u4014 {
  position:absolute;
  left:336px;
  top:10px;
  width:56px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u4016 {
  position:absolute;
  left:77px;
  top:4px;
  width:41px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u4017 {
  position:absolute;
  left:20px;
  top:11px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  line-height:20px;
}
#u4018 {
  position:absolute;
  left:82px;
  top:13px;
  width:51px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  line-height:20px;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:100px;
  color:#FFFFFF;
}
#u4020 {
  position:absolute;
  left:27px;
  top:50px;
  width:1200px;
  height:93px;
  font-size:100px;
  color:#FFFFFF;
}
#u4021 {
  position:absolute;
  left:0px;
  top:28px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022 {
  position:absolute;
  left:28px;
  top:51px;
  width:1249px;
  height:99px;
  overflow:hidden;
}
#u4022_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:99px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我收藏的专利/u3153_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1398px 121px;
}
#u4022_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4023 {
  position:absolute;
  left:77px;
  top:68px;
  width:474px;
  height:58px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4024 {
  position:absolute;
  left:0px;
  top:15px;
  width:474px;
  word-wrap:break-word;
}
