body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1101px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:828px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u4018 {
  position:absolute;
  left:181px;
  top:70px;
  width:920px;
  height:828px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u4019 {
  position:absolute;
  left:20px;
  top:406px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:828px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u4021 {
  position:absolute;
  left:1px;
  top:70px;
  width:181px;
  height:828px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u4022 {
  position:absolute;
  left:20px;
  top:406px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4023 {
  position:absolute;
  left:1px;
  top:120px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4023_img.selected {
}
#u4023.selected {
}
#u4024 {
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u4026_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u4026_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u4027_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4027_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4028 {
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4028_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4028.selected {
}
#u4029 {
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u4031 {
  position:absolute;
  left:1px;
  top:898px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4033 {
  position:absolute;
  left:1px;
  top:332px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4033_img.selected {
}
#u4033.selected {
}
#u4034 {
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4036 {
  position:absolute;
  left:230px;
  top:332px;
  width:830px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4036_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4036.selected {
}
#u4037 {
  position:absolute;
  left:2px;
  top:17px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4038 {
  position:absolute;
  left:230px;
  top:381px;
  width:830px;
  height:408px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4038_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:408px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4038.selected {
}
#u4039 {
  position:absolute;
  left:2px;
  top:196px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:25px;
}
#u4040 {
  position:absolute;
  left:231px;
  top:345px;
  width:630px;
  height:25px;
}
#u4041 {
  position:absolute;
  left:2px;
  top:4px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.u4043_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.u4043.mouseOver {
}
.u4044 {
  position:absolute;
  left:12px;
  top:8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-2 {
  position:absolute;
  left:34px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-3 {
  position:absolute;
  left:68px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-4 {
  position:absolute;
  left:102px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-5 {
  position:absolute;
  left:136px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-6 {
  position:absolute;
  left:170px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-7 {
  position:absolute;
  left:204px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-8 {
  position:absolute;
  left:238px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-9 {
  position:absolute;
  left:272px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-10 {
  position:absolute;
  left:306px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-11 {
  position:absolute;
  left:340px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-12 {
  position:absolute;
  left:374px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-13 {
  position:absolute;
  left:408px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-14 {
  position:absolute;
  left:442px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-15 {
  position:absolute;
  left:476px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-16 {
  position:absolute;
  left:510px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-17 {
  position:absolute;
  left:544px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042-18 {
  position:absolute;
  left:578px;
  top:0px;
  width:34px;
  height:34px;
}
#u4042 {
  position:absolute;
  left:234px;
  top:340px;
  width:612px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u4045 {
  position:absolute;
  left:328px;
  top:120px;
  width:399px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u4046 {
  position:absolute;
  left:10px;
  top:12px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u4047 {
  position:absolute;
  left:186px;
  top:120px;
  width:142px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u4047_img.selected {
}
#u4047.selected {
}
#u4048 {
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u4049 {
  position:absolute;
  left:175px;
  top:171px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u4049_img.selected {
}
#u4049.selected {
}
#u4050 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4053 {
  position:absolute;
  left:327px;
  top:170px;
  width:239px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4053_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4053.selected {
}
#u4054 {
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u4055 {
  position:absolute;
  left:537px;
  top:170px;
  width:30px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u4056 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u4057 {
  position:absolute;
  left:175px;
  top:269px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u4057_img.selected {
}
#u4057.selected {
}
#u4058 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u4059 {
  position:absolute;
  left:327px;
  top:277px;
  width:53px;
  height:25px;
}
#u4060 {
  position:absolute;
  left:10px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u4061 {
  position:absolute;
  left:601px;
  top:826px;
  width:80px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u4061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u4061.mouseOver {
  opacity:0.8;
}
#u4061_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#FFFFFF;
}
#u4061.mouseDown {
  opacity:1;
}
#u4062 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4064 {
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4064_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4064.mouseOver {
}
#u4065 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u4066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u4066 {
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4067 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u4068 {
  position:absolute;
  left:175px;
  top:222px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u4068_img.selected {
}
#u4068.selected {
}
#u4069 {
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4072 {
  position:absolute;
  left:327px;
  top:221px;
  width:239px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4072_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4072.selected {
}
#u4073 {
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u4074 {
  position:absolute;
  left:537px;
  top:221px;
  width:30px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:407;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u4075 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  word-wrap:break-word;
}
