body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:890px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:890px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:437px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:694px;
}
#u3909 {
  position:absolute;
  left:34px;
  top:171px;
  width:246px;
  height:694px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:339px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3911 {
  position:absolute;
  left:100px;
  top:580px;
  width:150px;
  height:214px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:99px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  position:absolute;
  left:116px;
  top:587px;
  width:85px;
  height:20px;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3915 {
  position:absolute;
  left:116px;
  top:622px;
  width:85px;
  height:20px;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3917 {
  position:absolute;
  left:116px;
  top:662px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:54px;
}
#u3919 {
  position:absolute;
  left:34px;
  top:729px;
  width:245px;
  height:54px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:19px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3921 {
  position:absolute;
  left:410px;
  top:367px;
  width:300px;
  height:126px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:55px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:475px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:780px;
  width:1300px;
  height:475px;
}
#u3924 {
  position:absolute;
  left:2px;
  top:230px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:521px;
}
#u3925 {
  position:absolute;
  left:290px;
  top:160px;
  width:1005px;
  height:521px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:252px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3927 {
  position:absolute;
  left:300px;
  top:681px;
  width:976px;
  height:73px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:28px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929 {
  position:absolute;
  left:34px;
  top:580px;
  width:245px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3930 {
  position:absolute;
  left:34px;
  top:616px;
  width:245px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3931 {
  position:absolute;
  left:34px;
  top:652px;
  width:245px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3932 {
  position:absolute;
  left:700px;
  top:240px;
  width:75px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3933 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
  background:inherit;
  background-color:rgba(34, 136, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3934 {
  position:absolute;
  left:310px;
  top:177px;
  width:96px;
  height:23px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3936 {
  position:absolute;
  left:320px;
  top:180px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:28px;
}
#u3939 {
  position:absolute;
  left:129px;
  top:0px;
  width:112px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
  line-height:28px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u3941 {
  position:absolute;
  left:680px;
  top:0px;
}
#u3941_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u3943 {
  position:absolute;
  left:0px;
  top:14px;
  width:600px;
  word-wrap:break-word;
}
#u3948 {
  position:absolute;
  left:249px;
  top:0px;
  width:83px;
  height:50px;
  overflow:hidden;
}
#u3948_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3948_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u3950 {
  position:absolute;
  left:0px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u3948_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3948_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(102, 102, 102, 0.349019607843137);
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:228px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3953 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3953_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3953.mouseOver {
}
#u3954 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3955 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3955.mouseOver {
}
#u3956 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3957 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3957_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3957.mouseOver {
}
#u3958 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3959.mouseOver {
}
#u3960 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:180px;
  width:120px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3961_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:22px;
}
#u3961.mouseOver {
}
#u3962 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F04844;
  line-height:22px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  font-size:12px;
  color:#F04844;
  line-height:22px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u3965 {
  position:absolute;
  left:336px;
  top:10px;
  width:56px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u3967 {
  position:absolute;
  left:80px;
  top:4px;
  width:41px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u3968 {
  position:absolute;
  left:20px;
  top:11px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  line-height:20px;
}
#u3969 {
  position:absolute;
  left:85px;
  top:13px;
  width:51px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  line-height:20px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:100px;
  color:#FFFFFF;
}
#u3971 {
  position:absolute;
  left:30px;
  top:50px;
  width:1200px;
  height:93px;
  font-size:100px;
  color:#FFFFFF;
}
#u3972 {
  position:absolute;
  left:0px;
  top:28px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973 {
  position:absolute;
  left:31px;
  top:51px;
  width:1249px;
  height:99px;
  overflow:hidden;
}
#u3973_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:99px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我收藏的专利/u3283_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1398px 121px;
}
#u3973_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u3974 {
  position:absolute;
  left:80px;
  top:68px;
  width:474px;
  height:58px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:15px;
  width:474px;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976 {
  position:absolute;
  left:347px;
  top:340px;
  width:903px;
  height:180px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:82px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u3978 {
  position:absolute;
  left:1137px;
  top:345px;
  width:105px;
  height:30px;
}
#u3979 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980 {
  position:absolute;
  left:347px;
  top:342px;
  width:798px;
  height:178px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3981 {
  position:absolute;
  left:331px;
  top:520px;
  width:929px;
  height:70px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:27px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3983 {
  position:absolute;
  left:1250px;
  top:335px;
  width:19px;
  height:200px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:92px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3986 {
  position:absolute;
  left:359px;
  top:453px;
  width:65px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:359px;
  top:390px;
  width:139px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3990 {
  position:absolute;
  left:359px;
  top:422px;
  width:239px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3992 {
  position:absolute;
  left:927px;
  top:421px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3994 {
  position:absolute;
  left:359px;
  top:485px;
  width:149px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3996 {
  position:absolute;
  left:926px;
  top:390px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3998 {
  position:absolute;
  left:927px;
  top:453px;
  width:103px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#54B0F1;
}
#u4000 {
  position:absolute;
  left:359px;
  top:355px;
  width:271px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#54B0F1;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4002 {
  position:absolute;
  left:116px;
  top:700px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4004 {
  position:absolute;
  left:34px;
  top:690px;
  width:245px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
